/* Parking Location Descriptions */

#parking-loc{
    width:75%;
    margin: auto;
    text-align: left;
}
#contact-input{
    width:65%;
    margin: auto;
    font-size: 36px;
}

/* Button Styling */
.darkbutton{
    background-color: var(--darkblue);
    padding:10px;
    color: white;
    font-size: 25px;
}
.darkbutton:hover{
    background-color: var(--dilutedblue);
    color: white;
}