/* Include font css */
@import url("./fonts/fonts.css");

.darkblue-tag{
    color:#051C34;
}
.lightblue-tag{
    color:#55D4FF;
}
.anchor-labels{
    color:#051C34;
    font-size: 150%;
}
#intro-image {
    width:100%;
    height:100%;

    top:0px;
    left:0px;

    position:absolute;
    z-index:-1;
}
/* Toolbar Style */
#toolbar-container {
    width:100%;
}

#banner-logo{    
    padding-top:44px;
    padding-left:66px;

    width:378.69px;
}
.toolbar-links {
    display: flex;
    justify-content: space-between;

    /*padding: 44px, 66px, 0px, 0px;*/
    padding-top:44px;
    padding-right:66px;
}
.toolbar-links > a {
    font-size: 20px;
    color:white;
}

/* Footer Style */
#footer-container{
    padding-top: 50px;
    width:100%;
    background-color: #051C34;
}
.sub-list{
    list-style-type: none;
  margin: 0;
  padding: 0;
  
}
.sub-list > li > a{
    color:white;

}
#footer-nav{
    margin: auto;
    width:87%;
    padding-bottom: 50px;
}
.foot-head{
    color:#55D4FF;
}

#contact-info {
    font-size:15px;
    color:white;
}
#social-icons >li{
    display:inline;
}
#social-icons >li >a {
    justify-content: space-between;
    font-family: 'font-brands';
    font-size:250%;
    padding-right:5%;
}
#copyright-cbcoc{
    padding-left: 15%;
    font-size:8px;
    color:#55D4FF;
}

/* Services Style */
#services-container{
    background-color: #F2F4F4;
}
#service-title{
    padding-top: 75px;
    padding-bottom: 75px;
}
#service-info{
    padding-bottom: 100px;
    width:85%;
    margin: auto;
}
#service-center{
    border-left: 2px solid  rgb(178, 179, 179);
    border-right: 2px solid  rgb(178, 179, 179);
}